
/* CLASSes*/

.reset, .message {
    text-align: center;
    margin-bottom: 2%;
}

.color_options{
    display: flex;
    justify-content: center;
}

.color{
    padding: 5px;
    z-index: 1;
}

.grid_parent {
    background-image: url(../images/ia-logo-back.png);
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
}

.grid_parent > div {
    padding: 10px;
}

.container {
    width: 30%;
    transform: translate(120%, 0%);
  }

  .congratulation{
    text-align: center;
    margin-bottom: 2%;  
}

/* IDs */
#one {
    grid-area: left;
    transform: translate(-17.7rem, -9rem);
}

#two {
    grid-area: right;
    transform: translate(-11.5rem, -22rem);
}

#three {
    grid-area: right;
    transform: translate(-3.5rem, -21rem);
}

#four {
    grid-area: left;
    transform: translate(-22.1rem, -15.7rem);
}

#five {
    grid-area: right;
    transform: translate(-5rem, -11rem);
}