img{
    object-fit: contain;
}

/* CLASSes*/

.reset, .message {
    text-align: center;
    margin-bottom: 2%;
}

.color_options{
    display: flex;
    justify-content: center;
}

.color{
    padding: 5px;
    z-index: 2;
}

.grid_parent {
    background-image: url(../images/ia-logo-back.png);
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    color: red;
}

.grid_parent > div {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
}

.container {
    width: 30%;
    transform: translate(120%, 0%);
  }

  .congratulation{
    text-align: center;
    margin-bottom: 2%;  
}

/* IDs */
#three {
    grid-area: right;
    transform: translate(-5rem, -22rem);
    width: 190%;
    height: 130%;
}

#four {
    grid-area: right;
    transform: translate(-25rem, -16rem);
    width: 150%;
    height: 100%;
}

#five {
    grid-area: right;
    transform: translate(-4.5rem, -11rem);
    width: 190%;
    height: 130%;
}
